html, body {
    height: 100%;
    width: 100%;
    color: white;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
footer {
    background-color: rgb(165, 165, 165);
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: black;
}
nav {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 5%;
    z-index: 2;
    height: 85px;
    border-bottom: 3px solid hsl(0, 0%, 100%, 0.2);
    backdrop-filter: blur(3px);
}

.domba1 {
    float: left;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    color: black;
}
.domba2 {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 40%;
    height: 100%;
    float: right;
}
.domba2 a {
    color: black;
    text-decoration: none;
    font-size: 17px;
}

.all {
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: space-evenly;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.kiri {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-image: url(image/rahadiansyah-jX2AFh7isOg-unsplash.jpg);
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.cat {
    margin-bottom: 0px;
    font-size: 50px;
}
.cat1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 70px;
    font-weight: bold;
}
.cat2 {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 12px;
    border-radius: 20px;
    font-size: 13px;
    text-align: center;
    margin-bottom: 0px;
    transition: 0.3s;
}
.cat3 {
    font-size: 14px;
    margin-top: 0px;
    width: 600px;
    text-align: center;
}
.cat2:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
.big {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.bigmo {
    width: 90%;
}
.dog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}
.dog h1 {
    color: black;
    width: 48%;
    font-size: 50px;
}
.dog1 p{
    color: #949393;
    font-size: 18px;
    height: 74%;
}
.dog1 a {
    height: 25%;
    background-color: black;
    color: white;
    padding: 12px;
    border-radius: 25px;
    padding-right: 20px;
    padding-left: 20px;
}

.wisata {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.up {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
}
.card {
    width: 24%;
    height: 50%;
    color: black;
    transition: 0.3s;
}
.card:hover {
    transition: 0.3s;
    transform: scale(1.03);
}
.why {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}
.teks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.teks1 {
    width: 70%;
}
.teks2 {
    width: 20%;
}

.choose {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choose h1 {
    color: black;
    font-size: 50px;
}
.choose2 {
    width: 100%;
    display: flex;
    height: 95%;
    justify-content: space-between;
}
.cafe {
    background-image: url(image/IMG_1438.jpeg);
    background-size: cover;
    background-position: center;
    width: 48.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: 0.3s;
}
.pariwisata {
    background-image: url(image/IMG_1441.jpeg);
    background-size: cover;
    background-position: center;
    width: 48.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: 0.3s
}
.cafe:hover,.pariwisata:hover {
    transition: 0.3s;
    transform: scale(1.03);
}
.tulisan {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 15px;
}
.tulisan:hover {
    transition: 0.3s;
    backdrop-filter: blur(2px);
}
.tulisan2 {
    width: 85%;
}
.tulisan2 h1 {
    font-size: 55px;
    margin-bottom: 0px;
    color: white;
}
.tulisan2 p {
    margin-top: 5px;
}
.btn {
    border-radius: 20px;
    color: white;
    background-color: #3b3535;
    padding: 10px;
    width: 120px;
    text-align: center;
    transition: 0.3s;
}
.btn:hover {
    transition: 0.3s;
    transform: scale(1.05);
}
.btn a {
    color: white;
}

/*Page dua*/

.all1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: white;
    width: 100%;
    height: 100%;
    margin-top: 7%;
}
.all1 h1 {
    font-size: 70px;
    color: black;
}
.bigmo1 {
    width: 90%;
    height: 70%;
    display: flex;
    box-shadow: 0 0 8px 9px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f2f2f2;
    border-radius: 15px;
    transition: 0.3s;
}
.cardd {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    width: 22%;
    height: 95%;
    justify-content: center;
    align-items: center; 
    transition: 0.3s;

}
.cardd:hover {
    transition: 0.3s;
    transform: scale(1.03);
}
.txt p {
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%;
}
.txt2 {
    width: 90%;
    color: #8a8a8a;
    font-size: 12px;
    margin-top: 2px;
}
.gmbr {
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.gmbr img {
    width: 180px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
}
.gmbr p {
    font-weight: bold;
    color: black;
    font-size: 20px;
}
.tmbl {
    background-color: #302d2d;
    padding: 5px;
    margin-top: 25px;
    width: 80%;
    text-align: center;
    border-radius: 12px;
    border: 3px solid hsla(0, 7%, 56%, 0.2);
    backdrop-filter: blur(5px);
    transition: 0.3s;
}
.tmbl a {
    color: white;
}
.tmbl:hover {
    transition: 0.3s;
    transform: scale(1.04);
}
.detail {
    width: 90%;
    height: 90%;
    display: flex;
    box-shadow: 0 0 8px 9px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f2f2f2;
    border-radius: 15px;
    gap: 30px;
    transition: 0.3s;
}
.detail img {
    width: 30%;
    height: 500px;
    border-radius: 15px;
    object-fit: cover;
}
.sebelah {
    width: 60%;
}
.sebelah h1 {
    margin-bottom: 0px;
}
.sebelah p {
    color: #8a8a8a;
}